doctype html
html
  head
    title Beacon Academy | Pakistan
    block scripts
    block style
  body
    nav#navbar
      ul#navigation
        li #[a(href="/") Home]
        li #[a(href="/") Services]
        li #[a(href="/") About]
        li #[a(href="/contact") Contact Us]
    block content
    footer#footer
            | Copyrights MMA DEVELOPERS @ 2022. ALl rights reserved.